<div class="row">
    <app-covid-statistic-card class="col-lg-3 col-md-6 col-sm-6" [statisticData]="totalConfirmed"></app-covid-statistic-card>
    <app-covid-statistic-card class="col-lg-3 col-md-6 col-sm-6" [statisticData]="totalActive"></app-covid-statistic-card>
    <app-covid-statistic-card class="col-lg-3 col-md-6 col-sm-6" [statisticData]="totalDeaths"></app-covid-statistic-card>
    <app-covid-statistic-card class="col-lg-3 col-md-6 col-sm-6" [statisticData]="totalRecovered"></app-covid-statistic-card>
</div>