<div>
    <div class="card">
        <div class="card-header card-header-grid">
            <h4 class="card-title">COVID-19 Hospital Admission Statistics</h4>
            <p class="card-category">Grid shows the total number of patients who are currently on treatment/observation for COVID-19 in a given hospital</p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-gray-dark">
                    <th>Hospital</th>
                    <th>Sri Lankans</th>
                    <th>Foreigners</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    <tr *ngFor="let hospital of hospitalData">
                        <td> {{hospital.hospital.name}}
                            <br>{{hospital.hospital.name_si}}
                            <br>{{hospital.hospital.name_ta}}
                        </td>
                        <td style="text-align:center;"> {{hospital.treatment_local}} </td>
                        <td style="text-align:center;"> {{hospital.treatment_foreign}} </td>
                        <td style="text-align:center;"> {{hospital.treatment_total}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>